# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Asterenn\OneDrive - Florida Gulf Coast University\Year 2\COP 3003\IdeaProjects\gradleDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
